<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="jarviswidget" id="wid-id-0">
                <header>
                    <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                    <h2>添加用户</h2>

                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">

                        <form class="form-horizontal" name="addUserForm" ug-validator="addAccountForm" novalidate="">

                            <fieldset>
                                <legend>添加新用户</legend>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">用户名</label>
                                    <div class="col-md-10">
                                        <input class="form-control" required="" ng-model="User.username" name="username" placeholder="用户名" type="text">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">密码</label>
                                    <div class="col-md-10">
                                        <input class="form-control" required="" ng-model="User.password" name="password" placeholder="密码" type="password" >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">确认密码</label>
                                    <div class="col-md-10">
                                        <input class="form-control" ug-equal-to="password" ng-model="User.confirmPassword" name="confirmPassword" placeholder="确认密码" type="password">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">激活状态</label>
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            <label>
                                                <!--<input type="checkbox" ng-model="User.locked" class="checkbox style-0" name="locked" checked="checked">-->
                                                <span>激活用户</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary" type="button" data-ng-click="addAccount()">
                                            <i class="fa fa-save"></i>
                                            提交
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
    </div>
</section>